@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292634;
}

header {
    background-color: white;
    text-align: center;
    color: #292634;
    font-family: asap, sans-serif;
    padding: 20px;
    font-weight: 900;
}

.score-board {
    border: 3px solid white;
    width: 300px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    border-radius: 5px;
    text-align: center;
    padding: 20px 30px;
    font-family: asap, sans-serif;
    position: relative;
}

.badge {
    background-color: #E25840;
    color: white;
    font-size: 30px;
    padding: 3px 14px;
    font-family: asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 20px;
    left: -40px;
}

#comp-label {
    position: absolute;
    top: 20px;
    right: -60px;
}

img {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
}

.result {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: asap, sans-serif;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    padding-bottom: 0;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: white;
    border: 10px solid #61597e;
}

#action-message {
    text-align: center;
    color: white;
    font-family: asap, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.green-glow {
    border: 8px solid #4dcc7d;
    box-shadow: 0 0 15px #31b43a;
}

.red-glow {
    border: 8px solid #fc121b;
    box-shadow: 0 0 15px #d01115;
}

.gray-glow {
    border: 8px solid #8d8df3;
    box-shadow: 0 0 15px #215067;
}